a {
  font-style: italic;
}
.container-fluid {
  background-color: gray;
}
h1 {
  text-align: center;
}
img {
  width: 500px;
  height: 500px;
}
.how img{
  float: right;
}
.fingertips p {
  font-size: 4rem;
}
