* {
  font-family: 'Electrolize', sans-serif;
 
}



.container img{
  width:6rem;
  height:6rem;
  border: 1rem solid white;
  
}

.header-container{
  border: 0.2rem solid black;
  
}

.container a:hover{
  text-decoration: underline;
}


h1{
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
}

h2{
  font-size: 3rem;
  color:rgb(12, 12, 12);
}

h3{
  text-align: center;
}

.header-container p{
  text-align: center;
  font-size: 1.3rem;
  font-style: italic;
}

span{
  font-size: 2rem;
  font-style: italic;
}

a {
  font-style: italic;
}

.container-fluid {
  background-color:turquoise;
  
}

.firstcolor {
  background-color:pink;
}
.firstcolor img{
  margin-bottom: 2rem;
}

.firstcolor p{
  font-size: 1.3rem;
}

img {
  width: 32rem;
  height: 32rem;
  border: 1rem solid turquoise;
}
.how {
  float: right;
  background-color:purple;
  color:white;
  font-size: 1.2rem;
}

.how h2{
  color:white;
}

.how img{
  margin-top: 2rem;
  width:40rem;
  height: 30rem ;
}


.fingertips{
  background-color:pink;
  background-image: url();
}
.fingertips p {
  font-size: 4rem;
}


.footer a {
  color: black;
  margin: auto;
  font-size: 1.3rem;
  
}

footer {

  height:6rem;
  
}

.footer a:hover{
  background-color: lightcyan;
}


@media (max-width:800px){

  footer{border:none;}
  .footer a{
            font-size: 1.3rem;}
}

@media (max-width: 500px){

  .container h2{
    font-size: 2rem;
  }

  img{
    width:22rem;
    height:22rem;
  }

  .how img{
    width:30rem;
    height:20rem;
    
  }

  .footer a {
    color: white;
    margin: 1rem;
    font-size: 1.5rem;
  }

  @media (max-width: 400px) {
    .container a{
      font-size: 1rem;
      margin: auto;
    }
    .container img{
      width:5rem;
      height:5rem;
      
      
    }
    .how img{
      width:23rem;
      height:20rem;
    }

    .footer a{
      font-size: 1rem;}

    }
    
  }

  

}